$defaultFontSize: 10px;
$bodyFontSize: 1.6rem;
$RegularFontWeight: 500;
$BoldFontWeight: 700;
$mainBackground: rgba(255, 251, 240, 1);
$darkBrown: rgba(51, 39, 0, 0.85);
$gold: rgba(138, 106, 0, 0.9);
$buttonYellow: rgba(255, 204, 84, 1);
$mainBac: #e5e5e5;
$cardBlue: rgba(14, 2, 92, 0.75);
$cardGreen: rgba(12, 112, 3, 0.75);
$lightBlue: rgba(79, 146, 182, 0.95);
$lightPink: rgba(254, 227, 207, 0.5);
$footerBackground: rgba(132, 139, 137, 0.75);
